<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Apply Interval Task Group</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded">
            <div class="p-3 rounded-lg m-2 bg-light">
                <div class="row">
                    <h2 class="text-center">Apply Interval Task Group</h2>
                    <h3 class="text-center" th:text="(${quarter} + ' ' + ${year})"></h3>
                </div>
                <hr />
                <div class="row">
                    <div class="container border rounded"><br />
                        <h4 class="text-center">Schedules all tasks in the Interval Task Group</h4>
                        <h4 class="text-center">at specified daily intervals</h4>
                        <br />
                    </div>
                </div>
                <hr />
                <div class="row text-center bg-light">
                    <div class="container border rounded">
                        <br />
                    <form class="form" action="#"
                          th:action="@{'/submit-quarterly-interval-task-group-scheduled/' + ${quarter} + '/' + ${year}}"
                          method="post" th:object="${qWeeklyTask}">
                        <hr />
                        <div class="form-control">
                            <label>Interval Task Groups</label>
                            <div>
                                <select class="form-select" th:name="intervalTaskGroup">
                                    <option th:if="${intervalTaskGroups.isEmpty()}">None Available</option>
                                    <option th:each="task : ${intervalTaskGroups}" th:value="${task.id}" th:text="${task.templateSelector()}"></option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </div>
                        <br />
                    </form>
                </div>
                </div><hr />
            </div>
    </div>
    <br />
</div>
</body>
</html>