<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
  <title>Apply Monthly Tasks</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <hr />
  <div class="container border rounded">
      <div class="p-3 rounded-lg m-2">
        <div class="row">
          <h2 class="text-center">Apply Monthly Task</h2>
          <h3 class="text-center" th:text="(${quarter} + ' ' + ${year})"></h3>
        </div>
        <hr />
        <div class="row">
          <div class="container border rounded">
            <br />
            <h4 class="text-center">Schedules monthly task on the specified day</h4>
            <br />
          </div>
        </div>
        <div class="row text-center">
          <div class="container border rounded bg-light">
            <br />
          <form class="form" action="#"
                th:action="@{'/submit-quarterly-monthly-tasks-scheduled/' + ${quarter} + '/' + ${year}}"
                method="post" th:object="${qMonthlyTask}">
            <hr />
            <div class="form-control bg-light">
              <label>Monthly Task</label>
              <div class="bg-light">
                <select class="form-select" th:name="recurringTaskSchedulerId">
                  <option th:if="${monthlyTasks.isEmpty()}">None Available</option>
                  <option th:each="task : ${monthlyTasks}" th:value="${task.id}" th:text="${task.templateSelector()}"></option>
                </select>
              </div>
            </div>
            <hr />
            <div>
              <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
          </form>
          </div>
          <br />
        </div>
        <hr />
      </div>
  </div>
  <hr />
</div>
</body>
</html>