<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
  <title>Create Task</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <br />
  <div class="container border rounded text-center">
    <div class="mt-4 p-5 rounded">
        <h1>Create Single Task</h1>
        <form action="#" th:action="@{/tasks}" method="post" th:object="${maintenanceTask}">
          <hr />
          <div class="form-control">
            <label>Task Name</label>
            <div>
              <input type="text" id="taskName" class="form-control" th:field="*{taskName}" required>
            </div>
          </div>
          <hr />
          <div class="form-control">
            <label>Scheduled Date</label>
            <div>
              <input type="date" id="date" class="form-control" th:field="*{date}" required>
            </div>
          </div>
          <hr />
          <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>
        </form>
      </div>
  </div>
  <br />
</div>
</body>
</html>