<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
  <title>Create Task</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <br />
  <div class="container border rounded text-center">
    <div class="mt-4 p-5 rounded">
        <h1>Create Single Task</h1>
        <form action="#" th:action="@{'/interval-task-group/' + ${taskGroupId}}" method="post" th:object="${intervalTask}">
          <hr />
          <div class="form-control">
            <label>Task Name</label>
            <div>
              <input type="text" id="intervalTaskName" class="form-control" th:field="*{intervalTaskName}" required>
            </div>
          </div>
          <hr />
          <div class="form-control">
            <label>Not Rainy Weather Only</label>
            <div>
              <input type="checkbox" id="noRainOnly" th:field="*{noRainOnly}">
            </div>
          </div>
          <hr />
          <div>
            <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>
        </form>
      </div>
  </div>
  <br />
</div>
</body>
</html>