<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center bg-light">
        <h1>Interval Task Group</h1>
        <h2 th:text="${user.username} + ' (' + ${user.id} + ')'"></h2>
        <h3 th:text="${intervalTaskGroup.taskGroupName} + ' (' + ${intervalTaskGroup.intervalInDays} + ')'"></h3>
        <br/><a th:href="@{'/create-interval-task/' + ${intervalTaskGroup.id}}">Add New Task to Group</a><br/>
        <br/><br/>
        <div class="container bg-light">
            <div th:if="${intervalTaskGroup.getIntervalTasks().size() > 0}"
                    class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rain Restriction</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${intervalTaskGroup.getIntervalTasks()}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.intervalTaskName}"></td>
                    <td th:text="${task.noRainOnly}"></td>
                    <td>
                        <a th:href="@{'/delete-interval-task/' + ${task.id} + '/' + ${intervalTaskGroup.id}}">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div th:unless="${intervalTaskGroup.getIntervalTasks().size() > 0}"
                 class="container border rounded text-center bg-light">
                <br />
                <h3>There are currently no tasks in the interval task group</h3>
                <br />
            </div>
        </div>
    </div>
</div>
</body>
</html>