<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User's Weekly Quarterly Tasks</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container text-center">
        <div class="container border rounded bg-light">
            <br />
            <h2>Weekly Tasks Applied Quarterly</h2>
            <hr />
            <br />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Quarter</th>
                        <th scope="col">Year</th>
                        <th scope="col">Weekly Scheduler</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${qWeeklyTasks}">
                        <td th:text="${task.quarter}"></td>
                        <td th:text="${task.year}"></td>
                        <td th:text="${task.weeklyTaskScheduler.templateSelector()}"></td>
                        <td>
                            <a th:href="@{'/delete-weekly-task-applied-quarterly/' + ${task.id}}">
                                Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
</body>
</html>