<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
  <title>User's Task</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <br />
  <div class="container border rounded text-center">
    <h2 th:text="${user.username} + '\'s Tasks'"></h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><a th:href="@{'/tasks-by-date/' + ${dayBefore}}">Previous</a></h2>
        </div>
        <div class="col">
          <h2 th:text="${date}"></h2>
        </div>
        <div class="col">
          <h2><a th:href="@{'/tasks-by-date/' + ${dayAfter}}">Next</a></h2>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="container border rounded text-center">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Confirm Completion</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="task : ${tasks}">
          <td th:text="${task.date}"></td>
          <td>
            <a th:text="${task.taskName}"
               th:href="@{'/task-detail/' + ${task.id}}"></a>
          </td>
          <td>
            <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
            <span th:unless="${task.status.name() == 'COMPLETED'}">
              <a th:text="${task.status}"
                 th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    <br />
  </div>
  <br />
</div>
</body>
</html>