<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>User's Tasks</h1>
        <h2 th:text="${user.username} + ' (' + ${user.id} + ')'"></h2>
        <h2 th:text="${month} + ' ' + ${year}"></h2>
        <br/><br/>
        <div align="center">
            <form action="#" th:action="@{'/search-tasks-by-month-year'}" method="post" th:object="${searchMonthAndYear}">
                <h3>Search for Tasks by Month/Year</h3>
                <div class="form-control">
                    <label>Month</label>
                    <div>
                        <select type="text" id="month" class="form-control" th:field="*{month}">
                            <option th:each="monthOpt : ${monthOptions}"
                                    th:value="${monthOpt}" th:text="${monthOpt}"></option> <!-- .getValue() -->
                        </select>
                    </div>
                </div>
                <hr />
                <div class="form-control">
                    <label>Year</label>
                    <div>
                        <select th:field="*{year}">
                            <option th:value="2023" th:text="2023"></option>
                            <option th:value="2024" th:text="2024"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <br>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Confirm Completion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.date}"></td>
                <td>
                    <a th:text="${task.taskName}"
                       th:href="@{'/task-detail/' + ${task.id}}"></a>
                </td>
                <td>
                    <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
                    <span th:unless="${task.status.name() == 'COMPLETED'}">
                        <a th:text="${task.status}"
                           th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>