<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center bg-light">
        <h2 th:text="${user.username} + '\'s Tasks'"></h2>
        <h2 th:text="${month} + ' ' + ${year}"></h2>
        <hr />
        <div th:if="${tasks.size() > 0}">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Rain Restriction</th>
                        <th scope="col">Confirm Completion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.date}"></td>
                        <td>
                            <a th:text="${task.taskName}"
                               th:href="@{'/task-detail/' + ${task.id}}"></a>
                        </td>
                        <td th:text="${task.noRainOnly}"></td>
                        <td>
                            <span th:if="${task.status.name() == 'COMPLETED'}">
                                COMPLETED</span>
                            <span th:unless="${task.status.name() == 'COMPLETED'}">
                                <a th:text="${task.status}"
                                   th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:unless="${tasks.size() > 0}">
            <br />
            <br />
            <h3>No Tasks Scheduled during this month!</h3>
            <br />
            <br />
        </div>
        <br />
    </div>
    <br />
</div>
</body>
</html>