<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Weekly Tasks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center bg-light">
        <br />
        <h2 th:text="${user.username} + '\'s Weekly Task Schedulers'"></h2>
        <hr />
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-primary" id="weeklySchedulerBtn"
                    onclick="toggleApplyWeeklySchedulerForm()">
                Click to Apply Weekly Schedulers to Quarter/Year
            </button>
        </div>
        <hr />
        <div class="container border rounded text-center bg-light"
             id="applyWeeklySchedulerForm">
            <form class="form" action="#" th:action="@{'/apply-weekly-schedulers'}"
                  method="post" th:object="${weeklyTaskQuarterAndYear}">
                <h3>Apply Weekly Schedulers</h3>
                <div class="form-control bg-light">
                    <label>Quarter</label>
                    <div>
                        <select class="form-select" th:field="*{quarter}">
                            <option th:value="'Q1'" th:text="'Q1'"></option>
                            <option th:value="'Q2'" th:text="Q2"></option>
                            <option th:value="'Q3'" th:text="Q3"></option>
                            <option th:value="'Q4'" th:text="Q4"></option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="form-control bg-light">
                    <label>Year</label>
                    <div>
                        <select class="form-select" th:field="*{year}">
                            <option th:value="2023" th:text="2023"></option>
                            <option th:value="2024" th:text="2024"></option>
                        </select>
                    </div>
                </div>
                <hr />
                <div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
                <br />
            </form>
        </div>
        <br/><br/>
        <div th:if="${weeklyTasks.size() > 0}"
             class="container border rounded text-center bg-light"
             id="weeklyTasksTable">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Day of Week</th>
                        <th scope="col">Remove</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${weeklyTasks}">
                        <td th:text="${task.weeklyTaskName}"></td>
                        <td th:text="${task.dayOfWeek}"></td>
                        <td>
                            <a th:href="@{'/delete-weekly-task-scheduler/' + ${task.id}}">
                                Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:unless="${weeklyTasks.size() > 0}"
             class="container border rounded text-center bg-light">
            <br />
            <h3>There are currently no weekly task schedulers</h3>
            <br />
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
</body>
</html>