
.cross-out-alert {
  text-decoration: line-through;
  color: #dc3545;
}

.date-search {
  max-width: 1000px;
}

#applyMonthlySchedulerForm {
    display: none;
}

#applyWeeklySchedulerForm {
    display: none;
}

#applyIntervalTaskGroupForm {
    display: none;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 58px;
  background: #8fa9fa;
}