
.cross-out-alert {
  text-decoration: line-through;
  color: #dc3545;
}

.date-search {
  max-width: 1000px;
}

#applyMonthlySchedulerForm {
    display: none;
}

#applyWeeklySchedulerForm {
    display: none;
}

#applyIntervalTaskGroupForm {
    display: none;
}