<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
  <title>Test Forecast</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <div class="container">
    <div class="mt-4 p-5 rounded">
      <div class="p-3 rounded-lg m-2">
        <div class="row">
          <h2>Apply monthly task to year/quarter</h2>
        </div>
        <hr />
        <div class="row">
          <h3 th:text="'User: ' + ${user.username}"></h3>
          <h3 th:text="'Quarter: ' + ${quarter}"></h3>
          <h3 th:text="'Year: ' + ${year}"></h3>
        </div>
        <div class="row"> <!-- <a th:href="@{'/reschedule-task/' + ${task.id}}">Reschedule!</a> -->
          <form action="#"
                th:action="@{'/submit-quarterly-monthly-tasks-scheduled/' + ${quarter} + '/' + ${year}}"
                method="post" th:object="${qMonthlyTask}">
            <hr />
            <div class="form-control">
              <label>Monthly Task</label>
              <div>
                <select class="form-select" th:name="monthlyTaskScheduler">
                  <option th:if="${monthlyTasks.isEmpty()}">None Available</option>
                  <option th:each="task : ${monthlyTasks}" th:value="${task.id}" th:text="${task.toString()}"></option>
                </select>
              </div>
            </div>
            <hr />
            <div>
              <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
</body>
</html>