<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <br />
        <div class="container border rounded text-center bg-light">
            <div class="mt-4 p-5 rounded">
                <div class="p-3 rounded-lg m-2">
                    <div class="row container border rounded bg-light">
                        <h1>Maintenance Task Manager</h1>
                        <hr />
                        <h2>Schedule Task Reminders:</h2>
                        <h2>Weekly, Monthly, and </h2>
                        <h2>Sequences of Tasks at Daily Intervals</h2>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container border rounded bg-light">
                            <h3 th:text="'Weather Forecast: ' + ${weather[0].Day.LongPhrase}">

                            </h3>
                            <h3 th:text="'Date: ' + ${weather[0].Date}"></h3>
                        </div>

                    </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <br />
    </div>
</body>
</html>