<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Task Manager</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center">
        <div class="mt-4 p-5 rounded">
            <div class="p-3 rounded-lg m-2">
                <div class="row container border rounded bg-light">
                    <br />
                    <h1>Maintenance Task Manager</h1>
                </div>
                <hr />
                <div class="row container border rounded bg-light">
                    <br />
                    <h4>Schedule Single Tasks, Weekly Tasks, Monthly</h4>
                    <h4>Tasks, and Sequences of Tasks at Daily Intervals</h4>
                    <br />
                </div>
                <hr />
            </div>
        <br />
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<br />
</div>
</body>
</html>