<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Task Manager</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <br />
        <div class="container border rounded text-center">
            <div class="mt-4 p-5 rounded">
                <div class="p-3 rounded-lg m-2">
                    <div class="row container border rounded bg-light">
                        <br />
                        <h1>Maintenance Task Manager</h1>
                    </div>
                    <hr />
                    <div class="row container border rounded bg-light">
                        <br />
                        <h4>Schedule Single Tasks, Weekly Tasks, Monthly</h4>
                        <h4>Tasks, and Sequences of Tasks at Daily Intervals</h4>
                        <br />
                    </div>
                    <hr />
                    <div class="row">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseForecast"
                                    aria-expanded="false"
                                    aria-controls="collapseExample">
                                View Today's Weather
                            </button>
                            <br />
                        </div>
                        <br />
                        <div class="collapse" id="collapseForecast">
                            <div class="container border rounded bg-light">
                                <br />
                                <h3 th:text="'Forecast: ' + ${weather[0].Day.LongPhrase}">
                                </h3>
                                <hr />
                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Temperature</th>
                                        <th scope="col">Wind</th>
                                        <th scope="col">Chance of Rain</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${#strings.substring(weather[0].Date, 0, 10)}"></td>
                                        <td th:text="${weather[0].Temperature.Minimum.Value} + 'C - ' + ${weather[0].Temperature.Maximum.Value} + 'C'"></td>
                                        <td th:text="${weather[0].Day.Wind.Speed.Value}"></td>
                                        <td th:text="${weather[0].Day.RainProbability} + '%'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr />
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>