<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>User's Interval Task Group Schedulers</h1>
        <h2 th:text="${user.username} + ' (' + ${user.id} + ')'"></h2>
        <div align="center">
            <form action="#" th:action="@{'/apply-interval-task-group-schedulers'}"
                  method="post" th:object="${intervalTaskQuarterAndYear}">
                <h3>Apply Interval Task Groups</h3>
                <div class="form-control">
                    <label>Quarter</label>
                    <div>
                        <select th:field="*{quarter}">
                            <option th:value="'Q1'" th:text="'Q1'"></option>
                            <option th:value="'Q2'" th:text="Q2"></option>
                            <option th:value="'Q2'" th:text="Q3"></option>
                            <option th:value="'Q2'" th:text="Q4"></option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="form-control">
                    <label>Year</label>
                    <div>
                        <select th:field="*{year}">
                            <option th:value="2023" th:text="2023"></option>
                            <option th:value="2024" th:text="2024"></option>
                        </select>
                    </div>
                </div>
                <hr />
                <div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Interval In Days</th>
                <th>Tasks</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${intervalTaskGroups}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.taskGroupName}"></td>
                <td th:text="${task.intervalInDays}"></td>
                <td>
                    <a th:href="@{'/interval-task-group/' + ${task.id}}">Go to Tasks</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>