<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <br />
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <br />
            <br />
            <div class="container border rounded text-center bg-light">
                <br />
                <h1>Welcome Admin!</h1>
                <br />
            </div>
            <br />
            <br />
        </div>
        <br />
        <div sec:authorize="hasRole('ROLE_MAINTENANCE')">
            <hr th:if="${dailyTasks.size() > 0}" />
            <div th:if="${dailyTasks.size() > 0}"
                 class="container border rounded text-center bg-light">
                <br />
                <h1>Daily Tasks</h1>
                <h4>Tasks Cannot be Carried Out in Rain As Indicated</h4>
                <hr />
                <button class="btn btn-primary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseDailyTasks"
                        aria-expanded="false" aria-controls="collapseExample">
                    View Daily Tasks
                </button>
                <br/><br/>
                <div class="collapse" id="collapseDailyTasks">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Rain Restriction</th>
                            <th scope="col">Confirm Completion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${dailyTasks}">
                            <td th:if="${task.noRainOnly == true && weather[0].Day.RainProbability > 50}"
                                class="cross-out-alert" th:text="${task.date}"></td>
                            <td th:unless="${task.noRainOnly == true && weather[0].Day.RainProbability > 50}"
                                th:text="${task.date}"></td>
                            <td th:if="${task.noRainOnly == true && weather[0].Day.RainProbability > 50}"
                                class="cross-out-alert">
                                <a th:text="${task.taskName}"
                                   th:href="@{'/task-detail/' + ${task.id}}"></a>
                            </td>
                            <td th:unless="${task.noRainOnly == true && weather[0].Day.RainProbability > 50}">
                                <a th:text="${task.taskName}"
                                   th:href="@{'/task-detail/' + ${task.id}}"></a>
                            </td>
                            <td th:text="${task.noRainOnly}"></td>
                            <td>
                                <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
                                <span th:unless="${task.status.name() == 'COMPLETED'}">
                                <a th:text="${task.status}"
                                   th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                                 </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <hr />
            <div th:if="${uncompletedTasks.size() > 0}"
                    class="container border rounded text-center bg-light">
                <br />
                <h1>Uncompleted Tasks</h1>
                <hr />
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseUncompletedTasks" aria-expanded="false"
                        aria-controls="collapseExample">
                    View Uncompleted Tasks
                </button>
                <br/><br/>
                <div class="collapse" id="collapseUncompletedTasks">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Confirm Completion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${uncompletedTasks}">
                            <td th:text="${task.date}"></td>
                            <td>
                                <a th:text="${task.taskName}"
                                   th:href="@{'/task-detail/' + ${task.id}}"></a>
                            </td>
                            <td>
                                <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
                                <span th:unless="${task.status.name() == 'COMPLETED'}">
                        <a th:text="${task.status}"
                           th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div sec:authorize="hasRole('ROLE_USER')">
            <div class="container border rounded text-center bg-light">
                <br />
                <h1>Weather Forecast</h1>
                <hr />
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWeather" aria-expanded="false"
                        aria-controls="collapseExample">
                    View Weather Forecast
                </button>
                <br />
                <br />
                <div class="collapse" id="collapseWeather">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Temperature</th>
                                <th scope="col">Wind</th>
                                <th scope="col">Chance of Rain</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.username}"></td>
                                <td th:text="${weather[0].Temperature.Minimum.Value} + 'C - ' + ${weather[0].Temperature.Maximum.Value} + 'C'"></td>
                                <td th:text="${weather[0].Day.Wind.Speed.Value}"></td>
                                <td th:text="${weather[0].Day.RainProbability} + '%'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
            </div>
            <hr />
        </div>
        <br />
        <br />
        <br />
    </div>
</body>
</html>