<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1>Index Page</h1>
        <p>This is the home page. All authenticated users can access this page</p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>
        <div sec:authorize="hasRole('ROLE_MAINTENANCE')">
            <h1>Welcome!</h1>
            <h2 th:text="${user.username} + ' (' + ${user.id} + ')'"></h2>
            This content is only shown to maintenance schedulers.
            <div align="center">
                <h1>Daily Tasks</h1>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${dailyTasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.date}"></td>
                        <td th:text="${task.taskStatusHistory.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>