<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1>Index Page</h1>
        <p>This is the home page. All authenticated users can access this page</p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>
        <div sec:authorize="hasRole('ROLE_MAINTENANCE')">
            <h1>Welcome!</h1>
            <h2 th:text="'Chance of rain: ' + ${chanceOfRain} + '%'"></h2>
            <h2 th:text="${user.username} + ' (' + ${user.id} + ')'"></h2>
            This content is only shown to maintenance schedulers
            <div align="center">
                <form action="#" th:action="@{'/search-tasks-by-date'}" method="post" th:object="${searchTasksByDate}">
                    <div class="form-control">
                        <label>Search Tasks By Date</label>
                        <div>
                            <input type="date" id="date" class="form-control" th:field="*{date}" required>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
            <div align="center">
                <h1>Uncompleted Tasks</h1>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Confirm Completion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${uncompletedTasks}">
                        <td th:text="${task.date}"></td>
                        <td>
                            <a th:text="${task.taskName}"
                               th:href="@{'/task-detail/' + ${task.id}}"></a>
                        </td>
                        <td>
                            <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
                            <span th:unless="${task.status.name() == 'COMPLETED'}">
                        <a th:text="${task.status}"
                           th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <div align="center">
                <h1>Daily Tasks</h1>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Confirm Completion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${dailyTasks}">
                        <td th:text="${task.date}"></td>
                        <td>
                            <a th:text="${task.taskName}"
                               th:href="@{'/task-detail/' + ${task.id}}"></a>
                        </td>
                        <td>
                            <span th:if="${task.status.name() == 'COMPLETED'}">COMPLETED</span>
                            <span th:unless="${task.status.name() == 'COMPLETED'}">
                        <a th:text="${task.status}"
                           th:href="@{'/confirm-task-completion/' + ${task.id}}"></a>
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>